p,
li {
    color: #525658;
}

.no-bs a {
    color: #001641;
    transition: all .3s ease-in-out;
}

.no-bs a:hover {
    color: #001641;
    opacity: .6;
    text-decoration: none;
}

p {
    font-size: 18px;
}

li {
    font-weight: 600;
    list-style: none;
}

.no-bs ul {
    padding-left: 0;
}

.hero {
    padding: 40px 0;
}

.hero h1 {
    color: #e05929;
    font-size: 38px;
    font-weight: 600;
}

.hero p {
    font-size: 22px;
    font-weight: 500;
}

.item {
    text-align: center;
}

.item img {
    margin-bottom: 25px;
}

.headline {
    color: #001641;
    font-size: 22px;
    font-weight: 600;
}

.row {
    padding: 40px 0;
}

.row-3 {
    background-color: #fef7f3;
}

.row-3 p {
    font-size: 14px;
}

.about p {
    font-size: 18px;
}

.about li {
    padding-bottom: 20px;
}

.about .far {
    color: #e05929;
    font-size: 24px;
    padding-right: 15px;
    position: relative;
    top: 3px;
}

.page {
    margin-bottom: 40px;
}

.page .headline {
    font-size: 32px;
    font-weight: 400;
}

.page a {
    font-weight: 600;
    text-transform: uppercase;
}

.page p {
    font-size: 22px;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 56px;
    }

    .hero p {
        font-size: 24px;
    }

    .hero {
        padding: 60px 0;
    }

    .row {
        padding: 60px 0;
    }
}

@media (min-width: 992px) {
    .hero h1 {
        font-size: 68px;
    }

    .hero p {
        font-size: 32px;
    }

    .hero .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .row-3 .headline {
        font-size: 26px;
    }

    .about p {
        font-size: 26px;
    }

    .about .far {
        font-size: 30px;
        padding-right: 30px;
        top: 4px;
    }

    .about li {
        font-size: 22px;
    }

    .about ul {
        padding-top: 20px;
    }
}